@model Biblioteka.Domain.Dto.ClanDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Dali si siguran da zelis da obrises?</h3>
<div>
    <h4>Clan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JMBG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JMBG)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Obrisi" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad</a>
    </form>
</div>
