@model IEnumerable<Biblioteka.Domain.Dto.EvidencijaDugovanjaDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Evidencija dugovanja</h1>

<p>
    <a asp-action="Create">Kreiraj novi</a>
</p>

<br>

<p class="form-group">
    <label class="form-check-inline">
        Prikazi samo trenutno zaduzeno
    </label>
    <input type="checkbox" onclick="FilterItems()" id="checkbox1" value=""/>
</p>

<br>


<div id="Evidencije">

</div>
@section Scripts{
    <script type="text/javascript">
        function FilterItems() {


            $("#checkbox1").on('change', function() {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                    $.ajax({
                        url: '@Url.Action("GetTrenutnoZaduzene", "EvidencijaDugovanja")',
                        cache: false,
                        type: "GET",
                        success: function(data) {
                            $('#Evidencije').html(data)
                        }
                    });
                } else {
                    $(this).attr('value', 'false');
                    $.ajax({
                        url: '@Url.Action("Get", "EvidencijaDugovanja")',
                        cache: false,
                        type: "GET",
                        success: function(data) {
                            $('#Evidencije').html(data);
                        }
                    });
                }
            });
        }

        $(document).ready(function() {
            $.ajax({
                url: '@Url.Action("Get", "EvidencijaDugovanja")',
                cache: false,
                type: "GET",
                success: function(data) {
                    $('#Evidencije').html(data);
                }
            });
        });
    </script>
}
