@model IEnumerable<Biblioteka.Domain.Dto.NaslovDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Naslovi</h1>

<p>
    <a asp-action="Create">Kreiraj novi</a>
</p>
<br />
<div class="row">

    <div class="col-md-3" id="jezici">
        <label class="control-label">Pretrazi po jeziku:</label>
        <div>
            @Html.DropDownList(
                "Jezici",
                new SelectList(@ViewBag.Jezici, "Id", "Naziv"),
                "Selektuj jezik..",
                new
                {
                    @class = "form-control",
                    @onchange = "OnSelectedJezik(this.value)"
                })
        </div>
    </div>
</div>
<br />
<br />
<div id="Naslovi">

</div>
@section Scripts{
    <script type="text/javascript">

        function OnSelectedJezik(jezik) {

            var idJezika = jezik;
            if(idJezika === "")
            {
                idJezika = 0;
            }
            $.ajax({
                url: '@Url.Action("GetByJezik", "Naslov")',
                data: { id: idJezika },
                success:   function(result) {
                    $('#Naslovi').html(result);
                }
            });
        }

        $(document).ready(function() {
            $.ajax({
                url: '@Url.Action("Get", "Naslov")',
                cache: false,
                type: "GET",
                success: function(data) {
                    $('#Naslovi').html(data);
                }
            });
        });
    </script>
}
